@import "normalize";
@import "solarized_light";

// ---------- MIXINS
@mixin media($value, $operator: 'min-width', $query: 'screen') {
  @media #{$query} and (#{$operator}: #{$value}) {
    @content;
  }
}

@mixin clearfix() {
	*zoom:1;
	&:before,
	&:after {
	    content:"";
	    display:table;
	}
	&:after {
	    clear:both;
	}
}

// ---------- VARIABLES
$color-tan: #EDE8B7;
$color-blue: #569FB0;
$color-green: #65C9B5;
$color-yellow: #deca20;
$color-tan-code: #fdf6e3;
$color-blue-code: #268bd2;
$color-green-code: #2aa198;
$color-orange-code: #b58900;

@keyframes flip {
	0% 	 { transform: scaleY(1); }
	49%  { transform: scaleY(1); }
	50%  { transform: scaleY(-1); }
	100% { transform: scaleY(-1); }
}

@keyframes noise {
	0% 	 { background-position: 0 0; }
	24%  { background-position: 0 0; }
	25%  { background-position: 10px 0; }
	49% { background-position: 10px 0; }
	50% { background-position: 0 10px; }
	74% { background-position: 0 10px; }
	75% { background-position: -10px -10px; }
	100% { background-position: -10px -10px; }
}

@import "demos";

// ---------- NATIVE EL'S
* {
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	font-family: 'PT Sans', sans;
	font-weight: 400;
	background-size: 100% 100%;
	background-attachment: fixed;
	background-color: $color-green;
	background-image: linear-gradient($color-green, $color-blue);
	padding-top: 7px; padding-bottom: 7px;
}

pre {
	box-shadow: 0 1px 3px #B0AE99;
}

section,
.footer {
	position: relative;
	margin: 0 7px;
	padding: 4em 0;
}

p {
	font-size: 1.2em;
	line-height: 1.5;
	color: #222;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'PT Serif', sans-serif;
	font-weight: 400;
}

h1 {
	text-transform: uppercase;
	font-size: 2em;
	letter-spacing: .075em;
	font-weight: 700;
	@include media(768px) { font-size: 3em; }
	@include media(960px) { font-size: 3.75em; }
}

h2 {
	font-size: 2.875em;
	margin-bottom: .3em;

	&:before {
		content:'';
		background: url(/assets/img/slashes.svg);
		width: 30px; height: 40px;
		display: inline-block;
		letter-spacing: -6px;
		margin-right: .2em;
		position: relative;
		top: 2px;
	}
}

h3 {
	font-family: 'PT Sans', sans;
	font-size: 1.4em;
	font-weight: 700;
}

// ---------- GENERAL STYLES
.btn {
	font-family: 'PT Sans', sans-serif;
	font-weight: 400;
	background-color: $color-green;
	background-image: linear-gradient(145deg, $color-green 0%, $color-blue 100%);
	display: inline-block;
	text-align: center;
	padding: 1em;
	min-width: 100px;
	color: #fff;
	text-decoration: none;
	border-radius: 4px;
	border-bottom: 1px solid $color-blue;
	transform: scale(1);

	&:hover {
		transform: scale(1.04);
		box-shadow: 0 2px 2px rgba(black, .3);
	}
}

.wrapper {
	max-width: 630px;
	margin: 0 auto;
	padding: 0 20px;
}

.code {
	box-shadow: 0 1px 3px #B0AE99;
	color: $color-green-code;
	background-color: $color-tan-code;
	border-radius: 2px;
	padding: 0 .5em;

	a {
		text-decoration: none;
		color: $color-green-code;

		&:hover {
			color: $color-orange-code;
		}
	}
}

// ---------- HOME
.underline-link {
	display: inline-block;
	color: $color-blue-code;
}

.demo-link {
	position: fixed;
	transform : translate3d(0, 0, 0);
	top: 20px; right: 30px;
	text-decoration: none;
	font-family: 'PT Sans', sans-serif;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #000;
	font-weight: 700;
	z-index: 9;
	@include media(768px) { top: 40px; right: 50px; }

	&.left {
		right: auto; left: 30px;
	}

	&:visited {
		color: #000;
	}

	&:after {
		content: '';
		display: block;
		background-image: url(/assets/img/zag.svg);
		background-size: 47px 15px;
		width: 47px; height: 15px;
		margin: 0 auto;
	}

	&:hover {
		&:after {
			animation: flip .7s infinite;
		}
	}
}

.hero {
	padding: 6em 0 7em;
	background-color: $color-yellow;
}

.hero-banner {
	@extend .wrapper;
	text-align: center;

	&__title {
		font-family: 'PT Serif', serif;
		margin: 0;
		padding-bottom: .5em;
		background: url(/assets/img/texture.png);
		-webkit-text-fill-color: transparent;
		-webkit-background-clip: text;
		animation: noise .8s infinite;

		&:after {
			content: '';
			display: block;
			background-image: url(/assets/img/zag.svg);
			width: 120px; height: 24px;
			margin: .3em auto 0;
		}
	}

	&__text {
		font-size: 1.625em;
		margin: 0 auto 2em;
	}

	.btn {
		margin: 0 .3em;
	}
}

.theme-yellow {
	background-color: $color-yellow;
}

.theme-light {
	background-color: #EDE8B7;

	h2 {
		margin-top: .5em;
	}

	&:before,
	&:after {
		content:'';
		z-index: 1;
		width: 100%; height: 110px;
		display: block;
		position: absolute;
		left: 0;
		background: url(/assets/img/border-tan.svg) repeat-x;
	}

	&:before {
		top: -20px;
	}

	&:after {
		bottom: -20px;
		transform: rotate(180deg);
	}
}

.sub-section {
	@include clearfix();
	margin-bottom: 1.5em;
}

.usage-steps {
	counter-reset: list;
	padding-left: 0;

	li {
		margin-top: 3em;
		list-style: none;
  		position: relative;

		&:before {
			counter-increment: list;
			content: counter(list) '.';
			position: absolute;
			top: -0.25em;
    		left: -1.25em;
			color: $color-blue;
			font-size: 1.8em;
			font-weight: 700;
		}
	}
}

.footer {
	background-color: $color-yellow;
	padding-bottom: 0;
	background-color: $color-green;
	padding: .8em 0;

	p {
		color: lighten($color-green, 25%);
		margin: 0;
	}

	a {
		color: #fff;
		font-weight: bold;
		text-decoration: none;
		display: inline-block;
	}

	span {
		display: inline-block;
		margin: 0 1em;
	}
}